.DS_Store

# unzipped full data
dataset/original/

# sample data
dataset/split_data-sample

# practice projects
cnn-test/
project-presentation/

*~
bottleneck_features_train.npy
bottleneck_features_validation.npy